<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/reset.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/styles.css" media="screen" />
    <title>tdoc</title>
  </head>
  <body>
		<div id="root">
			<div id="border">
				<div id="pagename">tdoc</div>
			</div>
			<div id="content">
				<header id="header"></header>
				<ul class="list">
          {{ $r := .}}
          {{ range $key, $value := .Files }}
            {{ $b := startsWith $r.Path $key}}
            {{ if  $b }}
              {{ $name := stripPath $r.Path $key}}
              <li class="entry"><img src="/folder.svg" width="32" height="32" /><a href="{{ $key }}">{{ $name }}</a></li>
            {{ end }}
            {{ range $k, $v := $value }}
              {{ if $b }}
                <li class="entry"><img src="/file.svg" width="32" height="32" /><a href="{{ $r.Path }}/{{$v}}">{{$v}}</a></li>
              {{end}}
            {{ end }}
          {{ end }}
				</ul>
			</div>
		</div>
	</body>
</html>
